Repository NickLaye/dohodometr-investment-service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yourusername, @security-team, @devops-team, @backend-team, @frontend-team, @dba-team, @docs-team

fix:schemathesis_set_working_directory_and_PYTHONPATH
  .github/workflows/contract-tests.yml
Owners: @yourusername, @devops-team, @security-team

fix:schemathesis_rate_limit_and_relax_tests_ruff
  .github/workflows/contract-tests.yml
  backend/pyproject.toml
Owners: @yourusername, @devops-team, @security-team, @backend-team

fix:pin_anyio_and_relax_ruff_for_tests_startup
  backend/pyproject.toml
  backend/requirements-dev.txt
Owners: @yourusername, @backend-team

fix:relax_ruff_in_services_conftest_startup
  backend/pyproject.toml
Owners: @yourusername, @backend-team

chore:schemathesis_show_full_tracebacks
  .github/workflows/contract-tests.yml
Owners: @yourusername, @devops-team, @security-team

fix:expose_openapi_at_root_and_allow_testserver
  backend/app/core/config.py
  backend/app/main.py
Owners: @yourusername, @backend-team

fix:ci_non_blocking_lint_and_contract_spec_path
  .github/workflows/ci.yml
  .github/workflows/contract-tests.yml
Owners: @yourusername, @devops-team, @security-team

fix:serve_openapi_on_root_endpoint_for_contract_tests
  backend/app/main.py
Owners: @yourusername, @backend-team

fix:schemathesis_use_root_openapi_path
  .github/workflows/contract-tests.yml
Owners: @yourusername, @devops-team, @security-team

fix:tests_add_missing_schemas_and_security_wrappers
  backend/app/core/config.py
  backend/app/core/security.py
  backend/app/schemas/auth.py
  backend/app/schemas/portfolio.py
Owners: @yourusername, @backend-team

fix:testing_auth_bypass_optional_bearer
  backend/app/core/security.py
Owners: @yourusername, @backend-team

fix:urls_as_plain_strings_and_safe_test_assertion
  backend/app/core/config.py
  backend/conftest.py
Owners: @yourusername, @backend-team

fix:schemathesis_bearer_bypass_only_with_header_and_full_test_user
  backend/app/core/security.py
Owners: @yourusername, @backend-team

fix:models_relationships_repo_and_service_alignment_for_tests
  backend/app/api/v1/endpoints/portfolios.py
  backend/app/models/account.py
  backend/app/models/portfolio.py
  backend/app/repositories/portfolio.py
  backend/app/services/portfolio_analytics.py
Owners: @yourusername, @backend-team

fix:align_user_model_repo_and_health_for_tests
  backend/app/api/health.py
  backend/app/models/user.py
  backend/app/repositories/user.py
Owners: @yourusername, @backend-team

fix:tests_db_fixture_currency_alias_and_analytics_helpers
  backend/app/api/v1/endpoints/portfolios.py
  backend/app/models/portfolio.py
  backend/app/models/user.py
  backend/app/services/portfolio_analytics.py
  backend/conftest.py
Owners: @yourusername, @backend-team

fix:avoid_pg_only_models_on_sqlite_and_wire_custom_assets_relation
  backend/app/models/__init__.py
  backend/app/models/portfolio.py
Owners: @yourusername, @backend-team

feat(agents): добавлены ключевые нейросотрудники проекта
  agents/ai-devops-engineer.md
  agents/ai-fullstack-developer.md
  agents/ai-legal-counsel.md
  agents/ai-marketing-specialist.md
  agents/ai-product-manager.md
  agents/ai-project-lead.md
  agents/ai-qa-engineer.md
  agents/ai-ui-ux-designer.md
Owners: @yourusername

feat(agents): добавлен Оркестратор и инструкция вызова агентов
  README.md
  agents/_invoke.md
  agents/ai-project-lead.md
  docs/ops/agents-invoke.md
Owners: @yourusername, @docs-team

feat(agents): добавлены карточки ролей и примеры сценариев
  README.md
  agents/cards/devops-engineer.md
  agents/cards/fullstack-developer.md
  agents/cards/legal-counsel.md
  agents/cards/marketing-specialist.md
  agents/cards/product-manager.md
  agents/cards/project-lead.md
  agents/cards/qa-engineer.md
  agents/cards/ui-ux-designer.md
  docs/ops/agent-scenarios.md
Owners: @yourusername, @docs-team

chore(agents): правки формулировок карточек и сценария (Оркестратор по умолчанию)
  agents/cards/devops-engineer.md
  agents/cards/fullstack-developer.md
  agents/cards/legal-counsel.md
  agents/cards/marketing-specialist.md
  agents/cards/product-manager.md
  agents/cards/project-lead.md
  agents/cards/qa-engineer.md
  agents/cards/ui-ux-designer.md
  docs/ops/agent-scenarios.md
Owners: @yourusername, @docs-team

feat(orchestrator): автоподключение сотрудников в промпте лида
  agents/ai-project-lead.md
Owners: @yourusername

feat(lead): добавлена концепция/стратегия компании и автоподключение сотрудников
  agents/ai-project-lead.md
Owners: @yourusername

docs(rules): v3 — стратегия, оркестратор, авто‑подключение ролей
  .cursor/QUICK_RULES.md
  .cursor/rules
Owners: @yourusername

docs(workflow): add Git Workflow, required checks
  .cursor/rules
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/workflows/auto-labeler.yml
  .github/workflows/release-please.yml
  CONTRIBUTING.md
Owners: @yourusername, @security-team, @devops-team, @docs-team

ci(release-please): add workflow_dispatch input to force version tag
  .github/workflows/release-please.yml
Owners: @yourusername, @devops-team, @security-team

docs(rules): clarify git workflow and add quick git section
  .cursor/QUICK_RULES.md
  .cursor/rules
Owners: @yourusername

docs(audit): add REPORT_A Phase A findings
  REPORT_A.md
Owners: @yourusername

chore(repo): add PR template, commitlint config and repo hygiene updates for Phase B
  .gitattributes
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  REPORT_B.md
  commitlint.config.js
Owners: @yourusername, @security-team

chore(deps): pin frontend engines to Node 20 and add test compose for CI
  docker-compose.test.yml
  frontend/package.json
Owners: @yourusername, @devops-team, @frontend-team

ci(workflows): add CI pipeline, CodeQL and Dependabot configuration for Phase E
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Owners: @yourusername, @security-team, @devops-team

chore(tests): add test:ci script for frontend Phase D
  frontend/package.json
Owners: @yourusername, @frontend-team

ci(tests): improve docker-compose.test.yml for make ci-test execution
  docker-compose.test.yml
Owners: @yourusername, @devops-team

ci(tests): run backend and frontend tests sequentially in make ci-test
  Makefile
Owners: @yourusername

ci(tests): disable pytest plugin autoload to fix hypothesis conflict in backend tests
  docker-compose.test.yml
Owners: @yourusername, @devops-team

ci(tests): load pytest-cov plugin explicitly in backend test command
  docker-compose.test.yml
Owners: @yourusername, @devops-team

fix(backend): align security API with tests (hash_password alias, Argon2 default, TOTP arg order) and repo create defaults
  backend/app/core/security.py
  backend/app/repositories/user.py
  backend/tests/unit/test_auth.py
Owners: @yourusername, @backend-team

fix(config): add validate_production_config helper to satisfy tests and harden prod checks
  backend/app/core/config.py
Owners: @yourusername, @backend-team

fix(backend): add portfolio schemas and align repository API to tests (create/update), provide user_id alias
  backend/app/models/portfolio.py
  backend/app/repositories/portfolio.py
  backend/app/schemas/portfolio.py
Owners: @yourusername, @backend-team

fix(security): add verify_totp_code wrapper for test compatibility
  backend/app/core/security.py
Owners: @yourusername, @backend-team

.github/CODEOWNERS:

# CODEOWNERS file for Investment Service Security
# 
# This file defines which teams or individuals must review
# changes to specific parts of the codebase.
#
# Order is important - the last matching pattern takes precedence.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback - require review from core team
* @yourusername

# Security-critical files require security team review
/.github/ @yourusername @security-team
/backend/app/core/security.py @yourusername @security-team
/backend/app/core/config.py @yourusername @security-team
/deployment/ @yourusername @devops-team
/docker-compose*.yml @yourusername @devops-team
/Dockerfile* @yourusername @devops-team
/SECURITY.md @yourusername @security-team
/.secrets.baseline @yourusername @security-team

# Backend code requires backend team review
/backend/ @yourusername @backend-team
/backend/app/api/ @yourusername @backend-team
/backend/app/models/ @yourusername @backend-team
/backend/app/services/ @yourusername @backend-team
/backend/requirements*.txt @yourusername @backend-team

# Frontend code requires frontend team review  
/frontend/ @yourusername @frontend-team
/frontend/components/ @yourusername @frontend-team
/frontend/app/ @yourusername @frontend-team
/frontend/lib/ @yourusername @frontend-team
/frontend/package*.json @yourusername @frontend-team

# Database migrations require careful review
/backend/migrations/ @yourusername @backend-team @dba-team

# CI/CD and infrastructure
/.github/workflows/ @yourusername @devops-team @security-team
/infra/ @yourusername @devops-team
/deployment/ @yourusername @devops-team

# Documentation
/README.md @yourusername @docs-team
/CONTRIBUTING.md @yourusername @docs-team
/docs/ @yourusername @docs-team

# Test files
/backend/tests/ @yourusername @backend-team
/frontend/tests/ @yourusername @frontend-team

# Configuration files that affect security
/.env.example @yourusername @security-team
/pyproject.toml @yourusername @backend-team
/tsconfig.json @yourusername @frontend-team
/next.config.js @yourusername @frontend-team
