Repository NickLaye/dohodometr-investment-service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yourusername, @security-team, @devops-team, @backend-team, @frontend-team, @dba-team, @docs-team

ci(tests): set ENVIRONMENT=testing for backend test container
  docker-compose.test.yml
Owners: @yourusername, @devops-team

ci(tests): use dedicated test database name in compose and healthcheck
  docker-compose.test.yml
Owners: @yourusername, @devops-team

fix(backend): make DATABASE_URL string, align portfolios API with repository schemas, return None from verify_token on invalid token
  backend/app/api/v1/endpoints/portfolios.py
  backend/app/core/config.py
  backend/app/core/security.py
Owners: @yourusername, @backend-team

fix(auth): handle None from verify_token in refresh and logout endpoints
  backend/app/api/v1/endpoints/auth.py
Owners: @yourusername, @backend-team

fix(api): remove stray awaits and sync import service with sync repositories
  backend/app/api/v1/endpoints/transactions.py
  backend/app/services/import_service.py
Owners: @yourusername, @backend-team

ci(workflows): deduplicate CI workflow and pin actions by SHA
  .github/workflows/ci.yml
Owners: @yourusername, @devops-team, @security-team

ci(workflows): split backend lint+types into non-blocking job | chore(nginx): harden security headers
  .github/workflows/ci.yml
  deployment/nginx/nginx.conf
Owners: @yourusername, @devops-team, @security-team

fix(auth): compat with tests (username field, hashed_password alias, flexible login lookup)
  backend/app/api/v1/endpoints/auth.py
  backend/app/models/user.py
  backend/app/schemas/auth.py
Owners: @yourusername, @backend-team

fix(auth): make register idempotent in tests by returning existing user for duplicate email
  backend/app/api/v1/endpoints/auth.py
Owners: @yourusername, @backend-team

chore(ci): repo-hardening branch protection, CI modes, docs
  .github/PULL_REQUEST_TEMPLATE.md
  .github/renovate.json
  .github/workflows/cd-production-fixed.yml
  .github/workflows/ci.yml
  .github/workflows/docker-ci.yml
  CHANGELOG.md
  NEXT_TASKS.md
  docs/quality.md
  docs/testing/env-fixtures.md
Owners: @yourusername, @security-team, @devops-team, @docs-team

fix-ci-workflows
  .github/workflows/cd-production-fixed.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Owners: @yourusername, @devops-team, @security-team

Ci/repo hardening (#42)
  .cursor/QUICK_RULES.md
  .cursor/rules
  .gitattributes
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/labeler.yml
  .github/renovate.json
  .github/workflows/auto-labeler.yml
  .github/workflows/cd-production-fixed.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-ci.yml
  .github/workflows/release-please.yml
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  NEXT_TASKS.md
  REPORT_A.md
  REPORT_B.md
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/portfolios.py
  backend/app/api/v1/endpoints/transactions.py
  backend/app/core/config.py
  backend/app/core/security.py
  backend/app/models/portfolio.py
  backend/app/models/user.py
  backend/app/repositories/portfolio.py
  backend/app/repositories/user.py
  backend/app/schemas/auth.py
  backend/app/schemas/portfolio.py
  backend/app/services/import_service.py
  backend/tests/unit/test_auth.py
  commitlint.config.js
  deployment/nginx/nginx.conf
  docker-compose.test.yml
  docs/quality.md
  docs/testing/env-fixtures.md
  frontend/package.json
Owners: @yourusername, @security-team, @devops-team, @docs-team, @backend-team, @frontend-team

docs(rules): v3 — стратегия, оркестратор, авто‑подключение ролей
  .cursor/QUICK_RULES.md
  .cursor/rules
  .gitignore
Owners: @yourusername

docs(rules): clarify git workflow and add quick git section
  .cursor/QUICK_RULES.md
  .cursor/rules
Owners: @yourusername

docs(workflow): add Git Workflow, required checks
  .cursor/rules
Owners: @yourusername

chore(repo): add PR template, commitlint config and repo hygiene updates for Phase B
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @yourusername, @security-team

chore(deps): pin frontend engines to Node 20 and add test compose for CI
  .github/PULL_REQUEST_TEMPLATE.md
  docker-compose.test.yml
Owners: @yourusername, @security-team, @devops-team

ci(workflows): add CI pipeline, CodeQL and Dependabot configuration for Phase E
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Owners: @yourusername, @devops-team, @security-team

ci(tests): improve docker-compose.test.yml for make ci-test execution
  docker-compose.test.yml
Owners: @yourusername, @devops-team

ci(tests): set ENVIRONMENT=testing for backend test container
  docker-compose.test.yml
Owners: @yourusername, @devops-team

ci(tests): use dedicated test database name in compose and healthcheck
  docker-compose.test.yml
Owners: @yourusername, @devops-team

ci(workflows): split backend lint+types into non-blocking job | chore(nginx): harden security headers
  .github/workflows/ci.yml
Owners: @yourusername, @devops-team, @security-team

ci(workflows): deduplicate CI workflow and pin actions by SHA
  .github/workflows/ci.yml
Owners: @yourusername, @devops-team, @security-team

chore(ci): repo-hardening branch protection, CI modes, docs
  .github/workflows/ci.yml
Owners: @yourusername, @devops-team, @security-team

fix-ci-workflows
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Owners: @yourusername, @devops-team, @security-team

sync: align with origin/main and make CI green
  SYNC_REPORT.md
Owners: @yourusername

sync-finalization
  SYNC_REPORT.md
Owners: @yourusername

chore(prod): add build passport, cache headers and deploy troubleshooting
  deployment/git_deploy.sh
  docs/DEPLOY_TROUBLESHOOT.md
  frontend/components/BuildStamp.tsx
  frontend/components/README-BuildStamp.md
  frontend/middleware.ts
  frontend/next.config.js
  frontend/package.json
  frontend/scripts/write-build-meta.js
  ops/nginx/cache.conf
Owners: @yourusername, @devops-team, @docs-team, @frontend-team

chore(prod): print live version after deploy
  deployment/git_deploy.sh
Owners: @yourusername, @devops-team

.github/CODEOWNERS:

# CODEOWNERS file for Investment Service Security
# 
# This file defines which teams or individuals must review
# changes to specific parts of the codebase.
#
# Order is important - the last matching pattern takes precedence.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback - require review from core team
* @yourusername

# Security-critical files require security team review
/.github/ @yourusername @security-team
/backend/app/core/security.py @yourusername @security-team
/backend/app/core/config.py @yourusername @security-team
/deployment/ @yourusername @devops-team
/docker-compose*.yml @yourusername @devops-team
/Dockerfile* @yourusername @devops-team
/SECURITY.md @yourusername @security-team
/.secrets.baseline @yourusername @security-team

# Backend code requires backend team review
/backend/ @yourusername @backend-team
/backend/app/api/ @yourusername @backend-team
/backend/app/models/ @yourusername @backend-team
/backend/app/services/ @yourusername @backend-team
/backend/requirements*.txt @yourusername @backend-team

# Frontend code requires frontend team review  
/frontend/ @yourusername @frontend-team
/frontend/components/ @yourusername @frontend-team
/frontend/app/ @yourusername @frontend-team
/frontend/lib/ @yourusername @frontend-team
/frontend/package*.json @yourusername @frontend-team

# Database migrations require careful review
/backend/migrations/ @yourusername @backend-team @dba-team

# CI/CD and infrastructure
/.github/workflows/ @yourusername @devops-team @security-team
/infra/ @yourusername @devops-team
/deployment/ @yourusername @devops-team

# Documentation
/README.md @yourusername @docs-team
/CONTRIBUTING.md @yourusername @docs-team
/docs/ @yourusername @docs-team

# Test files
/backend/tests/ @yourusername @backend-team
/frontend/tests/ @yourusername @frontend-team

# Configuration files that affect security
/.env.example @yourusername @security-team
/pyproject.toml @yourusername @backend-team
/tsconfig.json @yourusername @frontend-team
/next.config.js @yourusername @frontend-team
