Repository NickLaye/dohodometr-investment-service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yourusername, @security-team, @devops-team, @backend-team, @frontend-team, @dba-team, @docs-team

.github/CODEOWNERS:

# CODEOWNERS file for Investment Service Security
# 
# This file defines which teams or individuals must review
# changes to specific parts of the codebase.
#
# Order is important - the last matching pattern takes precedence.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback - require review from core team
* @yourusername

# Security-critical files require security team review
/.github/ @yourusername @security-team
/backend/app/core/security.py @yourusername @security-team
/backend/app/core/config.py @yourusername @security-team
/deployment/ @yourusername @devops-team
/docker-compose*.yml @yourusername @devops-team
/Dockerfile* @yourusername @devops-team
/SECURITY.md @yourusername @security-team
/.secrets.baseline @yourusername @security-team

# Backend code requires backend team review
/backend/ @yourusername @backend-team
/backend/app/api/ @yourusername @backend-team
/backend/app/models/ @yourusername @backend-team
/backend/app/services/ @yourusername @backend-team
/backend/requirements*.txt @yourusername @backend-team

# Frontend code requires frontend team review  
/frontend/ @yourusername @frontend-team
/frontend/components/ @yourusername @frontend-team
/frontend/app/ @yourusername @frontend-team
/frontend/lib/ @yourusername @frontend-team
/frontend/package*.json @yourusername @frontend-team

# Database migrations require careful review
/backend/migrations/ @yourusername @backend-team @dba-team

# CI/CD and infrastructure
/.github/workflows/ @yourusername @devops-team @security-team
/infra/ @yourusername @devops-team
/deployment/ @yourusername @devops-team

# Documentation
/README.md @yourusername @docs-team
/CONTRIBUTING.md @yourusername @docs-team
/docs/ @yourusername @docs-team

# Test files
/backend/tests/ @yourusername @backend-team
/frontend/tests/ @yourusername @frontend-team

# Configuration files that affect security
/.env.example @yourusername @security-team
/pyproject.toml @yourusername @backend-team
/tsconfig.json @yourusername @frontend-team
/next.config.js @yourusername @frontend-team

test: add comprehensive security and integration tests
  backend/tests/integration/test_database.py
  backend/tests/test_api_endpoints.py
  backend/tests/test_health.py
  backend/tests/unit/test_config.py
  backend/tests/unit/test_security.py
  frontend/tests/critical-paths.test.tsx
Owners: @yourusername, @backend-team, @frontend-team

feat: add comprehensive deployment automation and security tools
  Makefile.security
  deployment/deploy_production_secrets.sh
  deployment/environment.production
  deployment/restart_services.sh
  deployment/test_auth.sh
Owners: @yourusername, @devops-team

feat: add comprehensive security tooling and monitoring stack
  security/internal_security_audit.sh
  security/penetration_testing.sh
  security/secrets_management_setup.sh
  security/setup_security_monitoring.sh
  security/team_training_materials.md
Owners: @yourusername

docs: add comprehensive security documentation and audit reports
  AUDIT_COMPLETION_SUMMARY.md
  CRITICAL_FIXES_COMPLETED.md
  FINAL_COMPLETION_SUMMARY.md
  FINAL_HARD_REVIEW_2025.md
  GITHUB_SECURITY_SETUP.md
  GITHUB_SECURITY_SETUP_FINAL.md
  HARD_REVIEW_REPORT.md
  LIVE_SYSTEM_VALIDATION_COMPLETE.md
  QUICK_SECURITY_CHECK.md
  README.md
  SECURITY_CRITICAL_FIXES_2025.md
  SECURITY_IMPLEMENTATION_GUIDE.md
  🎯_AUDIT_COMPLETION_FINAL_2025.md
  🎯_FINAL_AUDIT_SUMMARY.md
Owners: @yourusername, @docs-team

chore: finalize security implementation with remaining configs
  .env.backup
  .env.production.example
  .env.production.secure
  Makefile
  backend/app/api/v1/endpoints/analytics.py
  backend/app/api/v1/endpoints/transactions.py
  env.dohodometr.production.example
  frontend/tsconfig.json
Owners: @yourusername, @backend-team, @frontend-team

fix: update GitHub Actions to latest stable versions
  .github/workflows/comprehensive-security.yml
Owners: @yourusername, @devops-team, @security-team

refactor: улучшить качество TypeScript кода и исправить ошибки
  .github/workflows/ci.yml
  frontend/Dockerfile
  frontend/app/api/health/route.ts
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/financial/currency-input.tsx
  frontend/components/financial/mobile-table.tsx
  frontend/components/financial/pnl-indicator.tsx
  frontend/components/mobile-navigation.tsx
  frontend/components/onboarding/welcome-tour.tsx
  frontend/tests/critical-paths.test.tsx
  frontend/tsconfig.tsbuildinfo
Owners: @yourusername, @devops-team, @security-team, @frontend-team

fix: исправить критические проблемы CI/CD pipeline
  backend/requirements-dev.txt
  frontend/.dockerignore
  frontend/components/ui/dropdown-menu.tsx
  frontend/global.d.ts
  frontend/lib/api.ts
  frontend/lib/auth/auth-context.tsx
  frontend/tsconfig.json
  frontend/tsconfig.tsbuildinfo
Owners: @yourusername, @backend-team, @frontend-team

fix: обновить docker-compose команды до Docker Compose v2
  .github/workflows/cd-production-fixed.yml
  .github/workflows/cd-production.yml
  .github/workflows/ci.yml
  .github/workflows/comprehensive-security.yml
Owners: @yourusername, @devops-team, @security-team

fix: добавить поле name в Docker Compose файлы
  docker-compose.dev.yml
  docker-compose.dohodometr.yml
Owners: @yourusername, @devops-team

test(frontend): починить Vitest config и JSX setup\n\n- setup.ts -> setup.tsx, добавлен импорт React для JSX\n- включен coverage provider v8\n- Vitest использует корректный setup файл
  frontend/tests/setup.tsx
  frontend/vitest.config.ts
Owners: @yourusername, @frontend-team

security: baseline headers CSP HSTS dockerignore security workflow
  .github/workflows/security.yml
  backend/.dockerignore
  backend/app/main.py
  deployment/docker-compose.production.yml
  deployment/nginx/nginx.conf
  frontend/.dockerignore
  frontend/middleware.ts
Owners: @yourusername, @devops-team, @security-team, @backend-team, @frontend-team

chore: lint and commit policies pre-commit commitlint hadolint yamllint ci-permissions
  .commitlintrc.json
  .github/workflows/ci.yml
  .hadolint.yaml
  .husky/commit-msg
  .pre-commit-config.yaml
  .yamllint.yaml
  Makefile
  package.json
Owners: @yourusername, @devops-team, @security-team

test: contract tests schemathesis and k6 profiles backend openapi target
  .github/workflows/contract-tests.yml
  backend/Makefile
  k6/baseline.js
  k6/smoke.js
Owners: @yourusername, @devops-team, @security-team, @backend-team

docs: operations runbooks release process
  OPERATIONS.md
  RELEASE.md
  RUNBOOKS/DB_DOWN.md
  RUNBOOKS/LATENCY_REGRESSION.md
  RUNBOOKS/QUEUE_LAG.md
  RUNBOOKS/README.md
Owners: @yourusername

ci: docker build test workflow
  .github/workflows/docker-ci.yml
Owners: @yourusername, @devops-team, @security-team

fix:ci-middle-ts-profiler
  backend/requirements-dev.txt
  frontend/middleware.ts
Owners: @yourusername, @backend-team, @frontend-team

fix:ci-profilers
  backend/requirements-dev.txt
Owners: @yourusername, @backend-team

fix:ci-profilers
  backend/requirements-dev.txt
Owners: @yourusername, @backend-team

fix:ci-profilers
  backend/requirements-dev.txt
Owners: @yourusername, @backend-team

fix:ci-profilers
  backend/requirements-dev.txt
Owners: @yourusername, @backend-team

fix:ci-ruff-ignores-and-vitest-coverage
  backend/app/api/v1/endpoints/auth.py
  backend/pyproject.toml
  frontend/package.json
Owners: @yourusername, @backend-team, @frontend-team

ci:relax-frontend-security-step
  .github/workflows/comprehensive-security.yml
Owners: @yourusername, @devops-team, @security-team

ci:relax-nonblocking-audits
  .github/workflows/ci.yml
  .github/workflows/security-hardened.yml
Owners: @yourusername, @devops-team, @security-team

fix:ci-lock-and-ruff-ignores
  backend/pyproject.toml
  frontend/package-lock.json
Owners: @yourusername, @backend-team, @frontend-team

fix:ci-ruff-ignores-models-and-tsx-generic
  backend/pyproject.toml
  frontend/tests/setup.tsx
Owners: @yourusername, @backend-team, @frontend-team

fix:ci-ruff-ignore-models-secrets
  backend/pyproject.toml
Owners: @yourusername, @backend-team

ci:nonblocking-security-and-gate-on-pr
  .github/workflows/ci.yml
  .github/workflows/comprehensive-security.yml
  .github/workflows/security-hardened.yml
Owners: @yourusername, @devops-team, @security-team

test:fix-vitest-generic-helpers
  frontend/tests/setup.tsx
Owners: @yourusername, @frontend-team

chore:ci_security_hardening_repo_hygiene
  .commitlintrc.json
  .editorconfig
  .gitattributes
  .github/workflows/cd-production.yml
  .github/workflows/ci.yml
  .github/workflows/comprehensive-security.yml
  .github/workflows/security-baseline.yml
  .github/workflows/security-hardened.yml
  .github/workflows/security-scanning.yml
  .github/workflows/security.yml
  .gitleaks.toml
  .nvmrc
  .pre-commit-config.yaml
  .python-version
  .yamllint.yml
  FINAL_REPORT.md
  REPORT_A.md
  REPORT_B.md
  REPORT_C.md
  REPORT_D.md
  REPORT_E.md
  REPORT_F.md
  REPORT_G.md
  REPORT_H.md
  REPORT_I.md
  REPORT_J.md
  backend/Dockerfile
  backend/app/main.py
  frontend/.npmrc
  frontend/Dockerfile
Owners: @yourusername, @devops-team, @security-team, @backend-team, @frontend-team

fix:frontend_tests_fetch_mock_and_cache_action
  .github/workflows/ci.yml
  frontend/tests/setup.tsx
Owners: @yourusername, @devops-team, @security-team, @frontend-team

fix:ci_security_scan_actions_versions
  .github/workflows/security-scanning.yml
Owners: @yourusername, @devops-team, @security-team

fix:security_workflows_non_blocking_and_artifact_v4
  .github/workflows/comprehensive-security.yml
  .github/workflows/security-baseline.yml
Owners: @yourusername, @devops-team, @security-team

test:fix_portfolio_value_rounding
  frontend/tests/components/portfolio.test.tsx
Owners: @yourusername, @frontend-team

test:stabilize_fetch_mocks_for_vitest
  frontend/tests/setup.tsx
Owners: @yourusername, @frontend-team

test:make_delete_portfolio_expect_204_with_mock_status
  frontend/tests/components/portfolio.test.tsx
  frontend/tests/setup.tsx
Owners: @yourusername, @frontend-team

ci: docker build test workflow (#35)
  .github/workflows/docker-ci.yml
Owners: @yourusername, @devops-team, @security-team

docs: operations runbooks release process (#34)
  OPERATIONS.md
  RELEASE.md
  RUNBOOKS/DB_DOWN.md
  RUNBOOKS/LATENCY_REGRESSION.md
  RUNBOOKS/QUEUE_LAG.md
  RUNBOOKS/README.md
Owners: @yourusername

chore: lint and commit policies pre-commit commitlint hadolint yamlli… (#32)
  .commitlintrc.json
  .hadolint.yaml
  .husky/commit-msg
  .pre-commit-config.yaml
  .yamllint.yaml
  Makefile
  package.json
Owners: @yourusername

fix:pin_hypothesis_for_schemathesis_compat
  backend/requirements-dev.txt
Owners: @yourusername, @backend-team
