Repository NickLaye/dohodometr-investment-service, changes with the labels that .github/labeler.yml gives for each.
All labels: area/backend, area/frontend, area/infra, area/security, area/rules

.github/labeler.yml:

'area/backend':
  - changed-files:
      - any-glob-to-any-file: ['backend/**']

'area/frontend':
  - changed-files:
      - any-glob-to-any-file: ['frontend/**']

'area/infra':
  - changed-files:
      - any-glob-to-any-file: ['deployment/**', 'infra/**', '.github/workflows/**']

'area/security':
  - changed-files:
      - any-glob-to-any-file: ['security/**']

'area/rules':
  - changed-files:
      - any-glob-to-any-file: ['.cursor/**', 'CONTRIBUTING.md', '.github/PULL_REQUEST_TEMPLATE.md']

docs(rules): v3 — стратегия, оркестратор, авто‑подключение ролей
  .cursor/QUICK_RULES.md
  .cursor/rules
  .gitignore
Labels: area/rules

docs(rules): clarify git workflow and add quick git section
  .cursor/QUICK_RULES.md
  .cursor/rules
Labels: area/rules

docs(workflow): add Git Workflow, required checks
  .cursor/rules
Labels: area/rules

chore(repo): add PR template, commitlint config and repo hygiene updates for Phase B
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area/rules

chore(deps): pin frontend engines to Node 20 and add test compose for CI
  .github/PULL_REQUEST_TEMPLATE.md
  docker-compose.test.yml
Labels: area/rules

ci(workflows): add CI pipeline, CodeQL and Dependabot configuration for Phase E
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Labels: area/infra

ci(tests): improve docker-compose.test.yml for make ci-test execution
  docker-compose.test.yml
Labels: none

ci(tests): set ENVIRONMENT=testing for backend test container
  docker-compose.test.yml
Labels: none

ci(tests): use dedicated test database name in compose and healthcheck
  docker-compose.test.yml
Labels: none

ci(workflows): split backend lint+types into non-blocking job | chore(nginx): harden security headers
  .github/workflows/ci.yml
Labels: area/infra

ci(workflows): deduplicate CI workflow and pin actions by SHA
  .github/workflows/ci.yml
Labels: area/infra

chore(ci): repo-hardening branch protection, CI modes, docs
  .github/workflows/ci.yml
Labels: area/infra

fix-ci-workflows
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Labels: area/infra

sync: align with origin/main and make CI green
  SYNC_REPORT.md
Labels: none

sync-finalization
  SYNC_REPORT.md
Labels: none

chore(prod): add build passport, cache headers and deploy troubleshooting
  deployment/git_deploy.sh
  docs/DEPLOY_TROUBLESHOOT.md
  frontend/components/BuildStamp.tsx
  frontend/components/README-BuildStamp.md
  frontend/middleware.ts
  frontend/next.config.js
  frontend/package.json
  frontend/scripts/write-build-meta.js
  ops/nginx/cache.conf
Labels: area/frontend, area/infra

chore(prod): print live version after deploy
  deployment/git_deploy.sh
Labels: area/infra
